<div class="login">
  <h2 class="login-header">主催者としてたくさんの舞台を募集しよう！</h2>
  <div class="login-container">
    <%= form_with url: organizers_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <p><%= f.label :ユーザー名 %>
      <%= f.text_field :name %></p>
      <p><%= f.label :メールアドレス %>
      <%= f.text_field :email %></p>
      <p><%= f.label :パスワード %>
      <%= f.text_field :password %></p>
      <p><%= f.submit "主催者新規登録", class: "btn-primary" %></p>
    <%end%>
  </div>
</div>
