<div class="login">
  <h2 class="login-header">芸人側ログイン</h2>
  <div class="login-container">
    <%= form_with url: participants_login_path, local: true do |f| %>
      <p><%= f.label :メールアドレス %>
      <%= f.text_field :email %></p>
      <p><%= f.label :パスワード %>
      <%= f.text_field :password %></p>
      <p><%= f.submit "ログイン", class: "btn-primary" %></p>
    <%end%>
  </div>
</div>
