<div class="recruits-show"> 
  <div class="recruits-show-title">
    <%= @recruit.title %>
  </div>
  <div class="recruits-show-image">
    <% if @recruit.image? %>
      <%= image_tag @recruit.image.url, :size =>'410x300' %>
    <% end %>
  </div>
  <div class="recruits-show-element">
    <div class="recruits-show-schedule">
      <% if @recruit.schedule? %>
        <p>開催日程</p>
        <%= @recruit.schedule %>
      <% end %>
    </div>
  </div>
  <div class="recruits-show-element">
    <div class="recruits-show-genre">
      <p>募集芸風</p>
      <%= @recruit.genre %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-guidelines">
      <% if @recruit.guidelines? %>
        <p>募集要項</p>
        <%= @recruit.guidelines %>
      <% end %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-price">
      <p>参加代金</p>
      <%= @recruit.price %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-capacity">
      <p>おおよその客数</p>
      <%= @recruit.capacity %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-judging">
      <p>審査方法</p>
      <%= @recruit.judging %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-award">
      <p>賞金</p>
      <%= @recruit.award %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-facility">
      <% if @recruit.facility? %>
        <p>設備</p>
        <%= @recruit.facility %>
      <% end %>
    </div>
  </div>  
  <div class="recruits-show-element">  
    <div class="recruits-show-backstage">
      <p>楽屋</p>
      <%= @recruit.backstage %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-organization">
      <% if @recruit.organization? %>
        <p>主催団体</p>
        <%= @recruit.organization %>
      <% end %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-text">
      <%= @recruit.text %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-prefectures">
      <%= @recruit.prefectures %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-place">
      <% if @recruit.place? %>
        <p>詳細場所</p>
        <%= @recruit.place %>
      <% end %>
    </div>
  </div>
  <div class="recruits-show-element">  
    <div class="recruits-show-url">
      <% if @recruit.url? %>
        <p>関連url</p>
        <%= @recruit.url %>
      <% end %>
    </div>
  </div>  
  <div class="recruits-show-organizer">
    <%= link_to(@organizer.name, "/organizers/#{@organizer.id}") %>
   </div> 
  <div class="recruits-show-app-participant">
    <%if @current_participant != nil && Application.find_by(participants_id: @current_participant.id, recruits_id: @recruit.id) %>
      <p>応募の取り消しは主催者メールアドレスに直接お問い合わせください</p>
    <%elsif @current_participant == nil %>
    <%else%>
      <%=link_to("応募", "/applications/#{@recruit.id}/create", {method: "post"})%>
    <%end%>
  </div>
  <div class="recruits-show-app-organizer">
    <% if @current_organizer != nil && @organizer.id == @current_organizer.id && @recruit.status == true %>
      <%= link_to("編集", edit_recruit_path) %>
      <%= link_to("削除", recruit_path,{method: "DELETE"}) %>
    <% elsif @current_organizer != nil && @organizer.id == @current_organizer.id %>
      <p>応募者</p>
      <% @applications.each do |application| %>
        <%= link_to(application.name, "/participants/#{application.id}")%>
      <%end%>
    <%end%>
   </div> 
</div>